Book title : <%= @book.title %>
<% @book.reviews.each do |review| %>
  <p>Name : <%= review.user.name %> </p>
  <p>Comment : <%= review.comment %></p>
  <p>Rating : <%= review.rating %></p>
<% end %>

<p>Average Rating : <%= @book.average_rating %></p>
