Book title : <%= @book.title %>

<p>Average rating : <%= @book.average_rating %></p>
<br>
<p>Highest rating : <%= @book.highest_rating %></p>

<br>
<p>Lowest rating : <%=@book.lowest_rating%></p>
<br>
<% @book.reviews.each do |review| %>
  <p>Name : <%= review.user.name %> </p>
  <p>Comment : <%= review.comment %></p>
  <p>Rating : <%= review.rating %></p>
<% end %>
